:root {
  font-family: "Rubik", sans-serif;
  background-color: rgb(255, 254, 254);
  margin: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent-color: #ff914d;
}

body {
  margin: 0;
}

.card-btn {
  cursor: pointer;
  align-self: end;
  background-color: var(--accent-color);
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

.card-btn:hover {
  background-color: #e58346;
}

.align-end {
  align-self: end;
}

.unavailable-btn {
  background-color: grey;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

.form-btn {
  border: none;
  background-color: var(--accent-color);
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font-size: 18px;
}
