header {
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  align-items: center;
  box-shadow: 0 4px 20px -2px rgba(128, 128, 128, 0.19);

  padding: 8px 2.5rem;
  margin-bottom: 30px;
}

.logo {
  height: 100px;
  width: 100px;
}

.nav-links {
  font-size: 16px;
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.active {
  border-bottom: 1px solid black;
}
