.van-card {
  display: flex;
  background-color: white;
  box-shadow: 0 0 5px #ccc;

  height: 11rem;
  border-radius: 8px;
  gap: 20px;
  margin: 0 10rem 1.5rem 10rem;
}

.card-img {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 100%;
  width: 25%;
  float: left;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 15px 25px 15px 0;
  width: 75%;
}

.card-titles {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.card-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 500;
}

.light-text {
  color: grey;
  font-weight: 400;
  font-size: 18px;
}

.card-features {
  margin: 0;
  margin-bottom: 10px;
  color: grey;
}

.card-miles,
.card-location {
  display: flex;
  align-items: center;
  gap: 3px;
}

.card-icon {
  height: 25px;
  margin: 0;
}

.card-icon_text {
  color: #3e3e3e;
  margin: 0;
}
